
form{
    text-align: center;
    margin-top: 20px;
}
input{
    margin-top: 10px;
    width: 50%;
    margin: 0 auto;
}
select{
    text-align: center;
    margin-top: 10px;
    width: 12%;
    margin: 0 auto;
}
.alert-danger{
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
}